.mvn/timing.properties
src/main/resources/application.conf
mdp-admin-server/src/main/resources/application-local.yaml
src/main/resources/localhost.conf
src/test/resources/localhost.conf
src/main/proto/
target/

.idea
*.iml
.DS_Store
logs
*.iws
FILE_STORAGE/
swagger.json
.project
.classpath
.factorypath
.log
tags

#vscode
.settings/*
.vscode
/mdp-admin-server/src/main/resources/application-local.yaml
/mdp-admin-server/src/main/resources/application.yaml
